@page "/filelist"
@inject FileController FileController;

<PageTitle>File List</PageTitle>

<h1>Your Files:</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Rights</th>
                <th>Delete</th>
                <th>Download</th>
                <th>Share</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Files)
            {
                <tr>
                    <td>@file.Name</td>
                    <td>@file.Size</td>
                    <td>@file.Rights</td>
                    <td><button hidden="@file.Delete" >Delete</button></td>
                    <td><button hidden="@file.Download">Download</button></td>
                    <td><button hidden="@file.Share">Share</button></td>
                </tr>
            }
        </tbody>
    </table>

</div>

@code {
    private List<SecretFile> Files = new();
    protected override void OnInitialized()
    {
        Files = FileController.GetFiles();
    }
}
